{% set stage_description = upgrade.stage_label %}
{% if upgrade.stage_key == "included" %}
{% set stage_description = "Included in this hardfork" %}
{% elif upgrade.stage_key == "scheduled" or upgrade.stage_key == "scheduled-for-inclusion" %}
{% set stage_description = "Scheduled for inclusion in this hardfork" %}
{% elif upgrade.stage_key == "considered" or upgrade.stage_key == "considered-for-inclusion" %}
{% set stage_description = "Under consideration for this hardfork" %}
{% elif upgrade.stage_key == "proposed" or upgrade.stage_key == "proposed-for-inclusion" %}
{% set stage_description = "Proposed for this hardfork" %}
{% elif upgrade.stage_key == "declined" or upgrade.stage_key == "declined-for-inclusion" %}
{% set stage_description = "Declined for this hardfork" %}
{% endif %}
<a href="{{ upgrade.meta_url | safe }}">{{ upgrade.display_name }}</a>
<span
	class="badge text-light network-upgrade-stage network-upgrade-stage--{{ upgrade.stage_key }}"
	data-bs-toggle="tooltip"
	data-bs-title="{{ stage_description }}"
>
	{{- upgrade.stage_label -}}
</span>
{% if upgrade.subgroup %}
<span class="network-upgrade-subgroup">{{ upgrade.subgroup }}</span>
{% endif %}
