{% extends "base.html" %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock title %}

{% block extra_head %}
<meta property="og:type" content="article">

{% if page.title %}
<meta property="og:title" content="{{ page.title }} | {{ config.title }}">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="description" content="{{ page.description }}">
{% endif %}

{% if page.date %}
<meta property="article:published_time" content="{{ page.date }}">
{% endif %}

{% if page.updated %}
<meta property="article:modified_time" content="{{ page.updated }}">
{% endif %}

{% if page.extra.author_details %}
{% for author in page.extra.author_details %}
{% if author.github %}
<meta property="article:author" content="https://github.com/{{ author.github }}">
{% elif author.email %}
{# TODO: Verify that mailto links don't break anything. #}
<meta property="article:author" content="mailto:{{ author.email }}">
{% endif %}
{% endfor %}
{% endif %}

<script type="application/ld+json">
{
	{#
		schema.org has `TechArticle`, which lists "specification" as an example.
		`TechArticle` is a sub-type of `Article`, and `Article` is supported
		by Google, so this makes sense I think.
	#}

	"@type": "Article",
	"url": "{{ current_url | safe }}",
	"name": "{{ page.title }}",
	"description": "{{ page.description }}",
{% if page.date %}
	"dateCreated": "{{ page.date }}",
{% endif %}
{% if page.updated %}
	"dateModified": "{{ page.updated }}",
{% endif %}
{% if page.extra.author_details %}
	"author": [
{% for author in page.extra.author_details %}
		{
			"@type": "Person",
			"name": "{{ author.name }}"
{%- if author.github -%}
			,
			"url": "https://github.com/{{ author.github }}"
{%- endif -%}
{%- if author.email -%}
			,
			"email": "{{ author.email }}"
{% endif %}
		}
{%- if not loop.last -%}
		,
{%- endif %}
{% endfor %}
	],
{% endif %}
	"@context": "https://schema.org"
}
</script>
{% endblock extra_head %}

{% block content %}
{{ page.content | safe }}
{% endblock content %}
