{% extends "base.html" %}

{% block title %}
{{- taxonomy.name | title }}: {{ term.name | title }} | {{ config.title -}}
{% endblock title %}

{% block rss %}
{{ super() }}
{% for feed_filename in config.feed_filenames %}
<link
	rel="alternate"
	type="{% if feed_filename == 'atom.xml' %}application/atom+xml{% else %}application/rss+xml{% endif %}"
	title="{{ config.title }} ({{ taxonomy.name | title }}: {{ term.name | title }})"
	href="{{ get_url(path=current_path ~ feed_filename) | safe }}"
/>
{% endfor %}
{% endblock rss %}

{% block content %}
<article>
	<h1 class="page-heading">
		{{ taxonomy.name | title }}: {{ term.name | title }}
		{% include "includes/termfeed.html" %}
	</h1>
	{% include "includes/eiptable.html" %}
</article>
{% endblock content %}
